<p>
  <mat-toolbar color="primary" class="header-information">

    <div class="menu-title">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
    </div>


    <div class="header-action">
      <button (click)="logout()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>logout</mat-icon>
      </button>
    </div>


  </mat-toolbar>
</p>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/tarefas">Tarefas</button>
</mat-menu>
