.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px;
  height: calc(100% - 128px);
}

.card-login {
  padding: 32px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  >:nth-child(n + 2) {
    margin-top: 8px;
  }

}

.login-form mat-form-field {
  width: 100%;
}

.card-login {
  display: flex;
  flex-direction: column;
  align-items: center;

  >:nth-child(n + 2) {
    margin-top: 32px;
  }
}

.login {
  background-image: url('./../../../assets/img/background-login.jpg');
}
